<link rel="stylesheet" href="app/css/splash.css">

<nav class="navbar navbar-default" id="nbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#home">Stageclap</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#features">Features</a></li>
        <li><a href="#home">Stage</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#signup">Sign Up</a></li>
  		<li><a href="#login">Log In</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="home">
	<div id="TuneIn">
		<h1>Tune in.</h1>
		<p>Hear it all. Share what you've heard.<br> 
			Enjoy it-- music is made for gatherings.<br>
			Find that here.</p>
	</div>
	<div id="signUp">
		<h1>Let's get started</h1>
		<form novalidate id="signup-form">
			<input type="text" ng-model="user.firstName" placeholder="First name"/>
			<input type="text" ng-model="user.lastName" placeholder="Last name"/><br />
			<input type="text" ng-model="user.username" placeholder="Username"/><br />
			<input type="email" ng-model="user.email" placeholder="Email address"/><br />
			<input type="password" ng-model="user.password1" placeholder="Password"/><br />
			<input type="password" ng-model="user.password2" placeholder="Repeat password"/><br />
			<input type="submit" ng-click="save(user)" value="Sign Up"/>
		</form>
	</div>
  <pre>{{user | json}}</pre>
	<div id="welcome">
		<h1>Welcome to Stageclap</h1>
	</div>
</div>
<div id="features">
	Features
</div>
